<nav class="ui inverted segment attached custom-padding-tb">
    <div class="ui container"> 
        <div class="ui inverted menu secondary stackable menu">
            <h2 class="ui header teal item">Victor's Blog</h2>
            <a class="item" routerLink="/home"><i class="home icon"></i>Home</a>
            <a class="item" routerLink="/"><i class="code icon"></i>Algorithm</a>
            <a class="item" routerLink="/"><i class="book icon"></i>Book</a>
            <a class="item" routerLink="/home"><i class="info icon"></i>About</a>
            <div class="right item">
                <div class="ui icon input inverted transparent">
                    <input type="text" placeholder="Search">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
</nav>