<div class="ui mobile reversed stackable grid">
    <div class="eleven wide column">
        <h3 class="ui header"><a routerLink="/blog">傲世丹神</a></h3>
        <p>天空中乌云密布，时不时会冒出一道闪电，伴随着一声声闷雷，一场大雨即将来临。卧虎城中，沈翔仰头看着天空，喃喃说道：“不能再拖了，我要快点找到好的灵药，否则我难以有翻身的机会。”...</p>
        <div class="ui grid">
            <div class="eleven wide column">
                <div class="ui horizontal list link">
                    <div class="item middle aligned">
                        <img src="https://images.unsplash.com/photo-1682417844063-63e5b94a4d97?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0Mnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="" class="ui avatar image">
                        <div class="content"><a href="#" class="header">Victor</a></div>
                    </div>
                    <div class="item  middle aligned">
                        <i class="calendar icon"></i>2023-07-01
                    </div>
                    <div class="item  middle aligned">
                        <i class="eye icon"></i>&nbsp;100 Views
                    </div>
                </div>
            </div>
            <div class="five wide column right aligned">
                <a href="#" target="_blank" class="ui label teal basic">方法论</a>
            </div>
        </div>
    </div>
    <div class="five wide column">
        <a href="#" target="_blank">
            <img class="ui round image" src="https://images.unsplash.com/photo-1682417844063-63e5b94a4d97?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0Mnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="">
        </a>
    </div>
</div>