/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}
.custom-padding-tb {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}